{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-0">
            <h1 class="display-4">About Me</h1> <!-- Displays the heading for the about page -->
            <p class="lead">Welcome to my quiz platform! My goal is to provide engaging and educational quizzes on a variety of topics. Whether you're looking to test your knowledge or learn something new, there is something for everyone.</p> <!-- Introduction paragraph -->

            <h2>My Mission</h2> <!-- Mission heading -->
            <p>I strive to make learning fun and accessible to everyone. Whether you are an educator or just an ordinary person wanting to create a quiz to strengthen your knowledge in a specific topic, this web application is designed to challenge and educate, with a focus on quality content and user engagement.</p> <!-- Describes the mission of the platform -->

            <h2>Contact Me</h2> <!-- Contact information heading -->
            <p>If you have any questions, feedback, or suggestions, feel free to reach out to me at <a href="mailto:darrelnitereka@gmail.com">darrelnitereka@gmail.com</a>.</p> <!-- Provides contact email -->
        </div>
    </div>
</div>
{% endblock %}
