{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-0"> <!-- Aligns content to the left -->
            <!-- Displays the header for the quizzes list -->
            <h1 class="display-4">Quizzes</h1>
            <!-- List of quizzes available -->
            <ul class="list-group">
                {% for quiz in quizzes %}
                    <li class="list-group-item">
                        <!-- Link to quiz details -->
                        <a href="{% url 'quiz_detail' quiz.id %}">{{ quiz.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


