{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-0">
            <h1 class="display-4">Welcome to Online Quiz Platform!</h1> <!-- Displays the heading for the home page -->
            <p class="lead">Test your knowledge with access to wide range of quizzes and learn something new today!</p> <!-- Introduction paragraph -->

            <!-- Conditional button based on user authentication status -->
            {% if user.is_authenticated %}
                <a href="{% url 'quizzes' %}" class="btn btn-primary">View Quizzes</a> <!-- Button to view quizzes if user is authenticated -->
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Login to View Quizzes</a> <!-- Button to log in if user is not authenticated -->
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}
