<!DOCTYPE html>
<html>
<head>
    <title>{{ quiz.title }}</title>
</head>
<body>
    <h1>{{ quiz.title }}</h1>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for question in questions %}
                <li>{{ question.text }}
                    <ul>
                        {% for option in question.options.all %}
                            {% if question.question_type == 'SC' %}
                                <li><input type="radio" name="{{ question.id }}" value="{{ option.id }}"> {{ option.text }}</li>
                            {% elif question.question_type == 'MC' %}
                                <li><input type="checkbox" name="{{ question.id }}" value="{{ option.id }}"> {{ option.text }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

